body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.headerProfile {
    text-align: center;
    background-color: red;
    color: #fff;
    padding: 20px 0;
}

.containerLogin {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: red;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #555;
}
#lien-accueil {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px; 
    z-index: 9999;  
}
#lien-accueil img {
    width: 150px; 
    height: auto; 
}
